*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  white-space: nowrap;
  inline-size: 1px;
  block-size: 1px;
  clip-path: inset(50%);
}

.page {
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  color: #fff;
  background-color: #1b1919;
  inline-size: 1200px;
  block-size: 100%;
}

.content {
  display: grid;
  align-items: end;
  width: 100%;
  padding: 133px 30px;
  grid-template-columns: 711px 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "result content_details";
  gap: 30px;
  overflow: auto;
}

.result {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: end;
  gap: 16px;
}

.result__video-container {
  position: relative;
  width: 100%;
  height: 384px;
  aspect-ratio: 16 / 9;
}

.result__video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.search-form {
  display: flex;
  align-items: self-start;
  justify-content: space-between;
  width: 100%;
}

.search-form__fieldset {
  position: relative;
  border: none;
}

.search-form__fieldset-title {
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
  line-height: 21px;
  margin-bottom: 4px;
}

.search-form__label {
  display: flex;
  width: fit-content;
  align-items: center;
}

.search-form__label:has(:focus-visible) {
  outline: #fff solid 1px;
}

.search-form__label-text {
  line-height: 21px;
  margin-left: 5px;
}

.search-form__textfield {
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  font-weight: 400;
  width: 225px;
  height: 27px;
  text-align: left;
  color: #fff;
  border: none;
  border-top: #fff solid 1px;
  border-bottom: #fff solid 1px;
  background-color: transparent;
  appearance: none;
}

.search-form__textfield:active {
  outline: 1px solid #fff;
}

.search-form__textfield:hover {
  cursor: text;
}

.search-form__textfield:focus {
  outline: none;
}

.search-form__checkbox-list {
  display: flex;
  align-items: center;
  gap: 15px;
}

.search-form__checkbox-list .search-form__label:hover {
  cursor: pointer;
  text-decoration: underline;
}

.search-form__pseudo-checkbox {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 19px;
  height: 19px;
  border: #fff solid 1px;
  background-color: transparent;
}

.search-form__pseudo-checkbox::after {
  top: 1px;
  left: 1px;
  display: none;
  width: 15px;
  height: 15px;
  content: "";
  background-color: #fff;
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox::after {
  display: block;
}

.button {
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 21px;
  width: 194px;
  min-height: 34px;
  color: #fff;
  border: solid 1px #fff;
  background-color: transparent;
}

.button:focus {
  outline: none;
}

.button:active {
  background-color: #545050;
}

.button:hover {
  cursor: pointer;
  text-decoration: underline;
}

.button:focus-visible {
  outline: #fff solid 1px;
  outline-offset: 1px;
}

.search-form__submit-button {
  align-self: self-end;
}

.more-button {
  width: 390px;
  margin: 25px 7px 2px 2px;
}

.content__details {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 534px;
  gap: 26px;
}

.title {
  font-family: Oswald, sans-serif;
  font-size: 75px;
  font-weight: 700;
  line-height: 70px;
  cursor: default;
  text-align: left;
  text-transform: uppercase;
}

.content__accent {
  color: rgb(255 255 255 / 0.4);
}

.content__list {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.content__list-item {
  padding-right: 3px;
  padding-left: 3px;
}

.content__list-item:first-child {
  padding-top: 2px;
}

.content__list-container {
  overflow-y: auto;
}

.content__card-link {
  text-decoration: none;
  color: #fff;
}

.content__video-card {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  max-height: 103px;
}

.content__video-card:hover {
  cursor: pointer;
  text-decoration: underline;
}

.content__video-card:focus {
  outline: none;
}

.content__video-card:focus-visible {
  outline: #fff solid 1px;
}

.content__card-link_current .content__video-card {
  background-color: #545050;
}

.content__list-item:focus-visible {
  outline: #fff solid 1px;
}

.content__video-card-description-container {
  flex-grow: 2;
}

.content__video-card-title {
  font-family: Oswald, sans-serif;
  font-size: 30px;
  font-weight: 700;
  line-height: 30px;
  white-space: nowrap;
  text-transform: uppercase;
  text-overflow: ellipsis;
}

.content__video-card-description {
  font-size: 18px;
  font-weight: 400;
  line-height: 23px;
  display: -webkit-box;
  overflow: hidden;
  max-width: 196px;
  text-overflow: ellipsis;
  word-wrap: break-word;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

.content__video-card-thumbnail {
  width: 194px;
  height: 103px;
  object-fit: cover;
  object-position: center;
}

.preloader-template {
  position: relative;
}

.cards-list-item-template {
  position: relative;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

/* Кастомный скроллбар */

.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgb(217 217 217 / 0.1);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #D9D9D9;
}